/*公用部分*/
html,body,imput{
    font-family: "Microsoft YaHei";
}
.a035, .a035:visited {
	color: #3e90ff;
    text-decoration: none;
}
.a035:hover {
    text-decoration: underline;
}

.passport-login,.sms-login{
    color:#a8b2c8;
	width: 350px;
    padding-top:26px;
    background: url("../images/font-sso.png") no-repeat  5px 5px;
    position: relative;
}
.sms-login{
    background: url("../images/font-msg.png") no-repeat  130px 5px;
}
.passport-login .field-tip .login-type-link{
    position:absolute;
    top:-25px;
    left:140px;
}
.sms-login .field-tip .login-type-link{
    position:absolute;
    top:-25px;
    left:10px;
}
.login-box .field-tip .login-type-link a{
    font-size: 14px;
    color: #a8b2c8;
    font-weight: bold;
    text-decoration: none;
}
.login-box .field-tip .login-type-link a:hover{
    color: #ffffff;
}
.login-box .error {
	padding:0;
	margin:0;
}
.login-box .error li {
	list-style:none;
	height:22px;
	text-align: right;
	color:red;
}
.login-box .field-tip{
	position:relative;
}
.login-box .field{
    background: #2c2f38;
    height: 44px;
    margin-bottom:4px;
}
.login-box  .field-sms-verify{

}

.login-box .protocol-tip{
	padding:8px 15px;
}
.login-box .login-text {
	border: none;
	height: 18px;
	line-height: 18px\9;
	padding:13px 5px;
	color:#a8b2c8;
    width:220px;
    background: none;
    outline: none;
    font-size: 14px;
    vertical-align: middle;

}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #a8b2c8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a8b2c8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a8b2c8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #a8b2c8;
}
.login-box .field label {
	display: inline-block;
	text-align: right;
	width: 85px;
    line-height: 44px;
    vertical-align: middle;
    padding-right: 10px;
    font-size: 14px;
}
.login-box .check-code-img {
	vertical-align: middle;
	width: 80px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.login-box .safe {
	overflow: hidden;
	padding-left:80px;
	clear:both;
}
.login-box .submit {
	padding-top: 34px;
    position: relative;
    text-align: center;

}
.login-box .submit .line-four{
    color:#a8b2c8;
    text-decoration: none;
   position: absolute;
    white-space: nowrap;
    top:5px;
    right: 0px;
    padding-right: 10px;
}
.login-box .submit .line-four:hover{
    text-decoration: underline;
}

.login-box .msg p {
	float: none;
	white-space: normal;
	word-wrap: break-word;
}
.login-box .change-code {
	display: inline-block;
	margin-left:4px;
	vertical-align: middle;
    padding-left: 15px;
    background: url("../images/ico-change.png") no-repeat left center;
    color: #3e90ff;/*389fff*/
}

.login-box .checkcode {
	width: 90px;

}
.login-box .forget-pw {
	line-height:26px;
}
.login-box  .sms-checkcode{
    width: 94px;
    float: left;
}
.login-box .submit .enter, .login-box .submit .cancel {
	background-image: url(../images/btn-start.png);
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	width: 234px;
    height: 52px;
    margin: 0 auto;
}
.login-box .submit .enter {
	background-position:left top;
}
.login-box .submit .enter:hover {
	background-position:left bottom;
}
.login-box .submit .cancel {
	display:none;
}
.login-box .register_link {
	display: none;

}
.login-box .register_link a{
    color:#a9b3c9 ;
}
.line-one, .line-two, .text-three {
	display:none;
}
.field-sms-verify  .phone_sms_resend {cursor:hand;color:#fff;background:#4190FF; width:150px; border:none;height:44px; overflow: hidden }
.field-sms-verify  .phone_sms_resend:hover{
    background: #389fff;
}
.field-sms-verify  .phone_sms {color:#666; cursor: not-allowed; border:none;background:#999; text-align:center;width:150px; height:44px;overflow: hidden; float: none; margin: 0px }


.phone_box .sms-checkcode{ float:left; width:94px !important; height:26px; line-height:26px;color:#868686; border:1px solid #c9d9ea; margin:10px 0 0 0; padding:0;}

.phone_box{ width:350px; padding:20px;color:#a8b2c8;}
.phone_box  .phone_sms_resend{margin-top: 10px;}
.phone_text{ line-height:22px; font-size:12px;}
.phone_wrong{line-height:22px; font-size:12px; color:#F00}
.iphone_input input{ float:left; width:140px; height:26px; line-height:26px;color:#868686; border:1px solid #c9d9ea; margin:10px 0 0 0; padding:0;}
.iphone_shunling_input input{ float:left; width:220px; height:26px; line-height:26px;color:#868686; border:1px solid #c9d9ea; margin:10px 0 0 0; padding:0;}
.phone_submit{ clear:both;width:116px; height:29px; line-height:29px; border:0px; text-align: center; padding-top: 20px;}
.phone_submit a{ width:116px; height:29px; color:#FFF; font-weight:700; font-size:13px;text-align:center; display:inline-block; background:#4190FF; text-decoration:none}
.phone_submit a:hover{ background:#3B9FFF; text-decoration:none}
.phone_submit a:visited{ color:#FFF;}
.phone_smsre a{ float:left; width:87px; height:28px; background:#4190FF; color:#fff; text-decoration:none;font-size:12px; text-align:center; line-height:28px; margin-left:10px;}
.phone_smsre a:hover{ color:#2060bf}
.phone_sms{ float:left; width:87px; height:28px; border:none;background:#4190FF;  color:#fff;text-align:center; margin:10px 0 0 12px;}
.phone_sms_resend {cursor:hand;background:#4190FF; color: #ffffff; width:87px; border:none;height:28px; }
.phone_change{clear:both;line-height:42px; font-size:12px; color:#F00; margin:20px 0 0 0}
.phone_change a{color: #3e90ff;
    text-decoration: none; }
.phone_change a:hover{
    text-decoration: underline;
}

.login-box2 { padding-top:29px;}
.login-box2 .info { margin-bottom:5px; line-height:18px; text-align:center;}
.login-box2 .error { line-height:18px; text-align:center; color:#f00; margin-bottom:10px;}
.login-box2 .other { padding-top:13px; text-align:center;}
.login-box2 .other a { color:#347ab8;}

.user-box { width:215px; height:85px; position:relative; margin:auto;}
.user-box .prev,
.user-box .next { width:14px; height:85px; position:absolute; top:0; background:url(../images/gallery-btn.gif) no-repeat left center; cursor:pointer;}

.user-box .prev:hover,
.user-box .next:hover { background:url(../images/gallery-btn-hover.gif) no-repeat left center;}

.user-box .prev { left:0;}
.user-box .next { right:0; background-position:right center;}

.user-box .prev:hover { left:0;}
.user-box .next:hover { right:0; background-position:right center;}


.user-box .prev-dis,
.user-box .next-dis,
.user-box .prev-dis:hover,
.user-box .next-dis:hover { background:url(../images/gallery-btn-disabled.gif) no-repeat left center; cursor:default;}

.user-box .prev-dis { left:0;}
.user-box .next-dis { right:0; background-position:right center;}

.user-box .prev-dis:hover { left:0;}
.user-box .next-dis:hover { right:0; background-position:right center;}



.user-cont { margin:0 34px; height:85px; overflow:hidden; position:relative;}
.user-list { height:85px; overflow:hidden; position:absolute; left:0; top:0; white-space:nowrap; font-size:0;}
.user-list li { width:58px; height:85px; display:inline-block; *display:inline; *zoom:1; margin-right:31px;}
.user-list li img { width:56px; height:56px; display:block; border:1px solid #afc9d6;}
.user-list li a { color:#3379b5; text-decoration:none;}
.user-list li span { height:20px; margin-top:7px; display:block; line-height:20px; cursor:pointer; width:100%; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; font-size:12px; text-align:center;}

